.results {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

.results td, .results th {
    border: 1px solid #ddd;
    padding: 8px;
}

.results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
}

.pass td:nth-child(3) {
    background-color: green;
}

.fail td:nth-child(3) {
    background-color: rgb(249, 114, 104);;
}
  