@import url(https://cdn.krxd.net/cssImport.css);

@font-face {
    font-family: fakeFont;
    src: url(https://cdn.krxd.net/cssFont.woff);
}

body {
    background: url(https://cdn.krxd.net/cssBackground.jpg);
    font-family: 'fakeFont';
}