.status {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: gray;
    transition: background-color 300ms;
}

.status.loaded {
    background: green;
}

.status.failed {
    background: red;
}

.description {
    color: gray;
}

#debug {
    margin-top: 100px;
    opacity: 0.3;
}