@import url(./block-me/cssImport.css);

@font-face {
    font-family: fakeFont;
    src: url(./block-me/cssfont.woff);
}

body {
    background: url(./block-me/cssbg.jpg);
    font-family: 'fakeFont';
}