# Global owners 🌍
* @kdzwinel @jonathanKingston

# Security 🚔
/security/ @not-a-rootkit @kdzwinel @jonathanKingston

# Autofill 📝
/autofill/ @GioSensation @kdzwinel @jonathanKingston

# Adclick flow 🛒
/adClickFlow/ @englehardt @kdzwinel @jonathanKingston

# Privacy protections 🤫
/privacy-protections/ @sammacbeth @kdzwinel @jonathanKingston

# Cookie Prompt Managment 🍪
/features/autoconsent/ @muodov @sammacbeth @kdzwinel @jonathanKingston
