# Global owners 🌍
* @kdzwinel @jonathanKingston

# Security 🚔
/security/ @not-a-rootkit

# Autofill 📝
/autofill/ @GioSensation

# Adclick flow 🛒
/adClickFlow/ @englehardt

# Privacy protections 🤫
/privacy-protections/ @sammacbeth @kdzwinel @jonathanKingston

# Cookie Prompt Managment 🍪
/features/autoconsent/ @muodov @sammacbeth
