{
    "extends": "standard",
    "plugins": [
        "html"
    ],
    "rules": {
        "indent": ["error", 4],
        "semi": ["error", "always"]
    },
    "env": {
        "browser": true
    }
}
