body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1em;
}

.dialog {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 350px;
  height: auto;
  padding: 30px;
  background-color: #fefefe;
  border-radius: 4px;
  border: 0.5px solid #999;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
  text-align: center;
}

hr {
  margin: 2em auto;
}

fieldset {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 1em;
  max-width: 410px;
  padding: 0;
  border: none;
}

label {
  align-self: center;
  text-align: right;
}

input,
button,
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
}

button,
.button {
  grid-column: span 2;
  display: block;
  margin: auto;
  padding: 5px 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  appearance: none;
  box-shadow: none;
}
