{
    "globals": {
        "commonTests": "writable",
        "DB": "writable"
    },
    "parserOptions": {
        "sourceType": "script",
        "ecmaFeatures": {
            "globalReturn": false
        }
    },
}
