{
    "globals": {
        "tests": "writable",
        "DeepDiff": "writable",
        "headers": "writable",
        "fontList": "writable",
        "codecsList": "writable",
        "webglConstantsList": "writable"
    }
}
